/* dashboard/react-dashboard/src/components/Activity/Activity.css */

.activity-container {
    margin-left: 280px; /* Adjust this value to match the width of your sidebar */
    padding: 20px;
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.activity-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.activity-container ul {
    list-style-type: none;
    padding: 0;
}

.activity-container li {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.error-message {
    color: red;
    font-weight: bold;
}

.stats-summary {
    display: flex;
    flex-direction: row;
    justify-content: left; /* Adjusts spacing between items */
    align-items: center; /* Aligns items vertically */
    margin-bottom: 20px; /* Adds some space below the summary */
}

.stats-summary > div {

    padding: 10px; /* Adds some padding around each section */
    text-align: center; /* Centers the text within each section */
    border-radius: 5px; /* Optional: Rounds the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.change-text {
    font-size: 0.9em; /* Slightly smaller font size */
    color: #666; /* Optional: lighter color for less emphasis */
    font-weight: normal; /* Ensure consistent weight */
}